@{
    ViewData["Title"] = "Home Page";
}


<div class="row testBor">
    <div id="homeSideNav" class="sidenav testBor">
        @* <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> *@
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#education">Education</a>
        <a href="#na">na</a>
    </div>
    <div id="homeMain" class="testBor">
        <section class="resume-section" id="about">
            <div>
                <h3>GIANG MICHAEL PHAN</h3>
                <h4>
                    , Morrow, GA, 30260 <br>
                    (678) 925- <br>
                    Gmphan7@gmail.com <br>                
                    Software Engineer at Clayton State University 
                </h4>
            </div>
        </section>
        <section class="resume-section" id="experience">
            <h3>EXPERIENCE</h3>
            <h4>Software Engineer</h4>
            <h5>Clayton State University</h5>
            <p>
                something ....
            </p>
        </section>
        <section class="resume-section" id="education">
            <h3>EDUCATION</h3>
            <br><br>
            <h4>University of Clayton State</h4>
            <h5>Bachelor Of Science</h5>
            <p>Computer Science <br>
                GPA: 3.6
            </p>
            <h4>Forest Park High School</h4>
            <h5>A and B in Math honor gruduated student</h5>
            GPA: 3.5
        </section> 
        <section id="na">
            <div>
                <p>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                </p>
            </div>
        </section>
    </div>
    @* <div class="col-sm-2 testBor">third</div> *@
</div>


