@{
    ViewData["Title"] = "Home Page";
}


<div class="row testBor firstBodyRow">
    <div id="homeSideNav" class="sidenav testBor">
        @* <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> *@
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#education">Education</a>
        <a href="#na">na</a>
    </div>
    <div id="homeMain" class="testBor">
        <section class="resume-section testBor" id="about">
            <div class="resume-selection-content">
                <h1 class="mb-0">
                    Giang
                    <span class="text-primary">Michael Phan</span> 
                </h1>
                <div class="subheading mb-5">
                    9132 Murry Trail * Morrow * GA * 30260 * (678)985-5727 *
                    <a href="mailto:gmphan7@Gmail.com">myemail@GiangMichaelPhan.com</a>
                </div>   
                <p class="lead mb-5">
                    I am experienced in leveraging agile frameworks to provide a robust 
                    synopsis for high level overviews. Iterative approaches to corporate 
                    strategy foster collaborative thinking to further the overall value proposition.
                </p>
                <div class="social-icons">
                    
                </div>       
            </div>
        </section>
        <section class="resume-section" id="experience">
            <h3>EXPERIENCE</h3>
            <h4>Software Engineer</h4>
            <h5>Clayton State University</h5>
            <p>
                something ....
            </p>
        </section>
        <section class="resume-section" id="education">

            <h3>EDUCATION</h3>
            <br><br>
            <p>University of Clayton State</p>
            <p>Bachelor Of Science</p>
            <p>Computer Science <br>
                GPA: 3.6
            </p>
            <p>Forest Park High School</p>
            <p>A and B in Math honor gruduated student</p>
            <p>GPA: 3.5</p>
        </section> 
        <section id="na" class="resume-section">
            <div>
                <h3>Testing long</h3>
                <p>
                    
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                    space <br>
                </p>
            </div>
        </section>
    </div>
    @* <div class="col-sm-2 testBor">third</div> *@
</div>


