@{
    ViewData["Title"] = "Home Page";
}

@* layout
    there will be three layers
    * top nav: will be on top of both side and body div
    * side nav: will be under top nav
    * content/body: will be under side nav, margine top = 0 (using padding as top nav height)
    ** content div margin left = 0, so the content can be in the middle
 *@
<div id="" class="side-nav test-bor">
    <a class="" href="#about">About</a>
    <a class="" href="#experience">Experience</a>
    <a class="" href="#education">Education</a>
    <a class="" href="#na">na</a>
</div>
